aiohttp==3.8.3
brotlipy==0.7.0
chumpy==0.70
conda-build==3.21.4
fastapi==0.89.1
glob2==0.7
google-cloud-storage==2.7.0
ipywidgets==8.0.3
json-tricks==3.16.1
jupyterlab==3.5.1
mediapipe==0.9.0.1
mmcv==1.7.1
munkres==1.1.4
olefile==0.46
opencv-python==4.5.5.64
pyOpenSSL==19.1.0
PySocks==1.7.1
pytorch-lightning==1.9.0
ruamel-yaml==0.15.87
sagemaker-training==4.4.1
seaborn==0.11.2
streamlit==1.17.0
torchelastic==0.2.1
uvicorn==0.20.0
webcolors==1.11.1
xtcocotools==1.13
